* {
    margin: 0;
    padding: 0;
    font-family: 'Tiro Gurmukhi';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
}

header img {
    width: 310px;
    height: auto;
    margin-left: 120px;
}

.site-nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul:hover li:not(:hover) a {
    opacity: 0.2;
}

ul li {
    position: relative;
    padding: 30px 25px 30px 25px;
    cursor: pointer;
}

ul li::after {
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #c19e2d;
    transform: scaleX(0);
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul li:hover::after,
ul li.active::after {
    transform: scaleX(1);
}

ul li a {
    position: relative;
    display: flex;
    color: white;
    text-decoration: none;
    transition: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-text {
    width: 100%;
    height: 450px;
    background-image: url('../imgs/Group1.png');
}

.main-text .main-containt{
    width: 60%;
    height: auto;
    position: absolute;
    top: 180px;
    right: 110px;

}

.main-text .main-containt .one-text {
    width: 90%;
    height: auto;
    margin: 10px 5%;
}

.main-text .main-containt .one-text p {
    font-size: 65px;
    text-align: center;
    color: white;
}

.main-text .main-containt .second-text {
    width: 90%;
    height: auto;
    margin: 0.5px 5%;
}

.main-text .main-containt .second-text p {
    font-size: 30px;
    text-align: center;
    color: white;
}

.main-text .main-containt .main-button {
    width: 50%;
    height: auto;
    margin: 0px 25%;
    padding-left: 5%;
}

.main-text .main-containt .main-button #btn {
    width: 260px;
    height: 45px;
    font-size: 27px;
    margin-top: 20px;
    color: white;
    background-color: #c19e2d;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.40);
    border: none;
    cursor: pointer;
}

hr {
    width: 85%;
    margin: 10px;
    border: 1px solid #c19e2d;
    text-align: center;
}

.separator {
    margin-top: 8px;
    text-align: center;
}

.line-separator {
    width: 80px;
    height: 1px;
    background: #c19e2d;
    display: inline-block;
}

.image-separator {
    width: 28px;
    height: 20px;
}

.specialties{
    width: 100%;
    height: 400px;
}
.specialties .tittle-specialties{
    margin-top: 12px;
    width: 100%;
    height: auto;
    font-size: 30px;
    text-align: center;
}

.specialties .tittle-specialties .middle-text{
    color: #c19e2d;
}

.specialties .container-specialties{
    margin-top: 0px;
    width: 100%;
    height: auto;
    position: absolute;
}

.container-specialties .container-1{
    margin: 50px 20px 80px 58px;
    width: 18%;
    height: auto;
    display: inline-block;
}

footer{
    width: 100%;
    height: auto;
    background-color: #141414;
}

footer .contain-contact{
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: inline-flex;
}

footer .contain-contact .info-contact,
footer .contain-contact .info-social{
    width: 30%;
    height: 150px;
    padding: 1.5%;
}

footer .contain-contact .info-location{
    width: 40%;
    height: 160px;
    padding: 1.5%;
}

footer .contain-contact h4{
    margin-top: 50px;
    font-size: 20px;
    color: white;
    text-align: center;
}

.info-contact .text-information{
    margin-top: 10%;
    margin-left: 10%;
}

.text-information .cel-phone,
.text-information .email{
    color: white;
}

footer .contain-contact .info-location iframe{
    width: 90%;
    margin: 20px 10%;
    height: 100px;
}

footer .contain-contact .info-location p{
    text-align: center;
}

footer .contain-contact .info-location .addres{
    color: white;
}

footer .contain-contact .info-social{
    color: #c19e2d
}

footer .contain-contact .info-social .social-media{
    width: 90%;
    height: 25px;
    margin: 30px 5%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    cursor: pointer;
}

@media (max-width: 1210px){

    .main-text .main-containt .one-text p {
        font-size: 60px;
        text-align: center;
        color: white;
    }
}

@media (max-width: 1110px){

    .main-text .main-containt .one-text p {
        font-size: 50px;
        text-align: center;
        color: white;
    }
    
    .container-specialties .container-1{
        margin: 50px 50px 80px 48px;
        width: 15%;
        height: auto;
        display: inline-block;
    }

}

@media (max-width: 1000px){
    
    .container-specialties .container-1{
        margin: 40px 50px 33px 48px;
        width: 12%;
        height: auto;
        display: inline-block;
    }

}

@media (max-width: 950px){
    
    .specialties .container-specialties .container-1 img{
        width: 190px;
        height: 250px;
    }

    footer .contain-contact h4{
        margin-top: 40px;
        font-size: 17px;
        color: white;
        text-align: center;
    }

    .info-contact .text-information{
        margin-top: 8%;
        margin-left: 0%;
    }

}

@media (max-width: 930px){

    .main-text .main-containt .one-text p {
        font-size: 48px;
        text-align: center;
        color: white;
    }

    .main-text .main-containt .second-text p {
        font-size: 25px;
        text-align: center;
        color: white;
    }

    footer .contain-contact .info-social .social-media{
        font-size: 20px;
    }

}

@media (max-width: 900px){

    header img {
        width: 300px;
        height: auto;
        margin-left: 80px;
    }

    .info-contact .text-information{
        font-size: 15px;
    }

    .main-text .main-containt{
        width: 58%;
        height: auto;
        position: absolute;
        top: 160px;
        right: 100px;
    
    }

    .main-text .main-containt .one-text p {
        font-size: 45px;
        text-align: center;
        color: white;
    }

    .main-text .main-containt .second-text p {
        font-size: 23px;
        text-align: center;
        color: white;
    }

    .main-text .main-containt .main-button #btn {
        width: 238px;
        height: 42px;
        font-size: 24px;
    }

    .specialties .tittle-specialties{
        font-size: 28px;
    }
}

@media (max-width: 850px){

    .info-contact .text-information{
        font-size: 14px;
    }

    header img {
        margin-left: 58px;
    }
}

@media (max-width: 800px){

    .container-specialties .container-1{
        margin: 50px 50px 80px 42px;
    }

    .specialties .container-specialties .container-1 img{
        width: 170px;
        height: 230px;
    }

    header img {
        margin-left: 15px;
    }

    header {
        justify-content: flex-end;
    }
    
}

@media (max-width: 750px){

    header img {
        width: 200px;
        height: auto;
    }

    ul {
       font-size: 15px;
    }

    .specialties .container-specialties .container-1 img{
        width: 130px;
        height: 210px;
    }

    .specialties .tittle-specialties{
        font-size: 24px;
    }

    .container-specialties .container-1{
        margin: 60px 35px 35px 33px;
        width: 15%;
    }

    .info-contact .text-information{
        font-size: 12px;
    }

    footer .contain-contact .info-social .social-media{
        font-size: 17px;
    }

    footer .contain-contact .info-location p{
        margin-left: 10px;
        font-size: 14px;
    }
}


@media (max-width: 700px){

    .main-text .main-containt .one-text p {
        font-size: 41px;
        text-align: center;
        color: white;
    }

    .main-text .main-containt .second-text p {
        font-size: 20px;
        text-align: center;
        color: white;
    }

    .main-text .main-containt .main-button #btn {
        width: 234px;
        height: 38px;
        font-size: 20px;
    }

    .main-text {
        height: 400px;
    }

    .main-text .main-containt .main-button {
        margin: 0px 20%;
    }

    .specialties .container-specialties .container-1 img{
        width: 120px;
        height: 190px;
    }

    .container-specialties .container-1{
        margin: 40px 15px 50px 42px;
    }

    .specialties{
        height: 300px;
    }
}

@media (max-width: 600px){

    .main-text .main-containt .main-button {
        margin: 0px 15%;
    }

    .container-specialties .container-1{
        margin: 40px 15px 50px 35px;
    }

    .specialties .container-specialties .container-1 img{
        width: 105px;
        height: 175px;
    }

    .specialties .tittle-specialties{
        font-size: 20px;
    }
}

@media (max-width: 550px){

    header img {
        width: 150px;
        height: auto;
    }

    ul {
       font-size: 10px;
    }

    .main-text .main-containt{
        width: 55%;
        top: 120px;
        right: 70px;
    }

    .main-text .main-containt .one-text p {
        font-size: 39px;
    }

    .main-text .main-containt .second-text p {
        font-size: 15px;
    }

    .main-text .main-containt .main-button {
        margin: 0px 10%;
    }

    .main-text .main-containt .main-button #btn {
        width: 228px;
        height: 33px;
        font-size: 20px;
    }

    .container-specialties .container-1{
        margin: 40px 15px 50px 28px;
    }

    footer .contain-contact h4{
        margin-top: 28px;
        font-size: 15px;
    }

    .info-contact .text-information{
        font-size: 9px;
    }

    footer .contain-contact .info-social .social-media{
        font-size: 14px;
    }


    

}

